.btn-wrap {
    overflow:  hidden;
    display: flex;
    justify-content: flex-end;
}
.btn-wrap > button {
    background: #acacac;
    border:0;
    color:#fff;
    border-radius: 10px;
    padding:10px;
    font-weight: bold;
    margin:0 10px;
}
#result{
    width:100%;
    line-height: 32px;
    background: #000;
    color: #fff;
    margin: 5px 0;
    text-indent: 10px;
}
